* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    align-items: center;
    height: 100vh;
    font-family: 'Open Sans', sans-serif;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-items: center;
    grid-gap: 10px;
    margin: 20px;
}

.icon {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    border: 2px solid black;
    outline: none;
    transition: .2s;
}

.icon:active {
    transform: translateY(5px);
}

.active {
    box-shadow: 0px 0px 0px 5px aquamarine;
}

.scissors {
    background: url('./img/scissors.png') no-repeat;
    background-size: 80%;
    background-position: center;
}

.paper {
    background: url('./img/paper.png') no-repeat;
    background-size: 80%;
    background-position: center;
}

.rock {
    background: url('./img/rock.png') no-repeat;
    background-size: 80%;
    background-position: center;
}

.clear {
    background: url('./img/bin.png') no-repeat;
    background-size: 70%;
    background-position: center;
    grid-area: 2 / 2 / 3 / 3;
}

.clear:active {
    transform: translateY(5px);
}

.text {
    font-size: 20px;
    text-align: center;
}

.result {
    font-size: 30px;
}

@media(min-width: 1024px) {
    .buttons {
        grid-gap: 50px;
    }

    .icon {
        width: 150px;
        height: 150px;
    }

    .text {
        font-size: 40px;
    }

    .result {
        font-size: 50px;
    }
}